.li{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    border-bottom: 1px solid #e2e8f0;
}
.delButton{
    cursor: pointer;
    background-color:palevioletred;
    color: white;
    border: 1px solid gray ;
    border-radius:  6px;
    padding: 4px 8px;
}

.delButton:hover{

    background-color: rgb(208, 22, 84);
}